/Flagdle/.env
/.idea/encodings.xml
/.idea/FlagdleDjango.iml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
__pycache__/
/.idea/shelf/Uncommitted_changes_before_Update_at_05_07_2024_08_04__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_05_07_2024_08_05__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_05_07_2024_08_07__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_09_07_2024_15_44__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_10_07_2024_11_34__Changes_.xml
