/Flagdle/.env
/.idea/encodings.xml
/.idea/FlagdleDjango.iml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/Flagdle/game/__pycache__/