<!DOCTYPE html>
<html>
<head>
    <title>Flagdle</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}">
</head>
<body class="light-theme">
    <h1>Flagdle</h1>
    <button onclick="location.href='{% url 'home' %}'">Home</button>
    <form method="get" action="">
        <label for="category">Choose a category:</label>
        <select name="category" id="category" onchange="this.form.submit()">
            {% for category in categories %}
                <option value="{{ category }}" {% if category == selected_category %}selected{% endif %}>{{ category }}</option>
            {% endfor %}
        </select>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <div class="image-container">
        <img src="{% static current_image %}" alt="Guess the title">
    </div>

    <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="current_image" value="{{ current_image }}">
        <input type="hidden" name="correct_answer" value="{{ correct_answer }}">
        <label for="guess">Your Guess:</label>
        <input type="text" name="guess" id="guess" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
