{% extends 'base.html' %}

{% block title %}Flagdle{% endblock %}

{% block content %}
    <h1>Welcome to Flagdle</h1>
    <div class="button_grid">
        <div class="info_grid">
            <form class="game_button" action="/Flagdle/leaderboard/" method="get">
                <button type="submit">
                    <img src="/static/leaderboard_icon.webp" alt="Leaderboard">
                    <span>Leaderboard</span>
                </button>
            </form>

            <form class="game_button" action="/Flagdle/flags/" method="get">
                <button type="submit">
                    <img src="/static/flags/flags_icon.webp" alt="Encyclopédie des drapeaux">
                    <span>Encyclopédie des drapeaux</span>
                </button>
            </form>

            <form class="game_button" action="/Flagdle/countries/" method="get">
                <button type="submit">
                    <img src="/static/country/country_icon.webp" alt="Encyclopédie des pays">
                    <span>Encyclopédie des pays</span>
                </button>
            </form>
        </div>
        <div class="delimiter" id="button_grid-delimiter"></div>
        <div class="game_grid">
            
            {% if user.is_authenticated %}
            <h1>GAMES</h1>
            
            <div class="game_grid" id="game_grid">
                <h2>COUNTRYDLE</h2>
                {% for category in categories %}
                    <form class="game_button" action="{% url 'country_game' %}" method="get">
                        <input type="hidden" name="category" value="{{ category }}">
                        <button type="submit">
                            <img src="/static/country/{{category}}/icon.webp" alt="{{ category }}">
                            <span>{{ category }}</span>
                        </button>
                    </form>
                {% endfor %}
            </div>

            <!-- <div class="vertical_delimiter"></div> -->
            <div class="game_grid" id="game_grid">
                <h2>FLAGDLE</h2>
                    {% for flag_category in flag_categories %}
                        <form class="game_button" action="{% url 'flag_game' %}" method="get">
                            <input type="hidden" name="flag_category" value="{{ flag_category }}">
                            <button type="submit">
                                <img src="/static/flags/{{flag_category}}/icon.webp" alt="{{ flag_category }}">
                                <span>{{ flag_category }}</span>
                            </button>
                        </form>
                    {% endfor %}
            </div>
            {% else %}
                <p>Connectez-vous pour jouer</p>
            {% endif %}
        </div>
    </div>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}
