<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flagdle</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/homepage.css' %}">
</head>
<body class="light-theme">
    <h1>Welcome to Flagdle</h1>
    <div class="button-grid">
        {% for category in categories %}
            <form action="{% url 'game' %}" method="get">
                <input type="hidden" name="category" value="{{ category }}">
                <button type="submit">{{ category }}</button>
            </form>
        {% endfor %}
        <form action="/Flagdle/flags/" method="get">
            <button type="submit">Encyclopédie des drapeaux</button>
        </form>
        <form action="/Flagdle/countries/" method="get">
            <button type="submit">Encyclopédie des pays</button>
        </form>
    </div>
</body>
</html>
