<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images Gallery</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}">
</head>
<body>
    <h1>Images</h1>
    <button onclick="location.href='{% url 'home' %}'">Home</button>
    <form method="get" action="">
        <label for="category">Choose a category:</label>
        <select name="category" id="category" onchange="this.form.submit()">
            {% for category in categories %}
                <option value="{{ category }}" {% if category == selected_category %}selected{% endif %}>{{ category }}</option>
            {% endfor %}
        </select>
    </form>

    <div class="image-grid">
        {% for image, filename in images %}
            <div class="image-container">
                <img src="{% static image %}" alt="{{ filename }}">
                <span>{{ filename }}</span>
            </div>
        {% endfor %}
    </div>
</body>
</html>
