.dark-theme {
    --text-secondary-color: oklch(89% 0 0);
    --container-background: oklch(20% 0.01 276.61);
    --container-border: var(--container-background);
}

.light-theme {
    --text-secondary-color: oklch(25% 0 0);
    --container-background: oklch(95% 0.01 286.37);
    --container-border: oklch(90% 0.01 286.37);
}

.flag-container {
    display: flex;
    padding-inline: 5vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flag-item {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-background);
    margin-top: 20px;
    max-width: 150px;
    height: fit-content;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.flag-item:hover {
    transform: translateY(-5px);
    box-shadow: var(--hover-box-shadow);
}

.flag-item img {
    max-width: 101%;
    max-height: 150px;
    border-radius: 10px;
    margin: -1px;
}

.flag-item span {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.3em;
    color: var(--text-secondary-color);
    user-select: text;
}

@media (max-width: 1000px) {
    .flag-container {
        padding-inline: 5vw;
    }

    .flag-item {
        border-radius: 10px;
        width: 120px;
    }

    .flag-item span {
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    .flag-item {
        width: 100px;
    }

}