.button_grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 30px;
    margin: 40px;
    width: 100%;
    padding-inline: 50px;
    /* min-width: 900px; */
    max-width: 1500px;
}

.info_grid,
.game_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.info_grid {
    max-width: 500px;
}

#game_grid {
    border: 2px solid var(--inverted-text-color);
    border-radius: 81px;
    background-color: var(--container-background);
    padding: 30px;
    margin-bottom: 30PX;
}

.game_button {
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    user-select: none;
    margin:0;
    padding: 0;
    width: 100%;
    /* max-width: 450px; */
    height:100%;
}


.game_button button {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--container-background) !important;
    width: 100%;
    height: fit-content;
    font-size: 20px !important;
    cursor: pointer;
    padding: 0 !important;
    border: none!important;
    border-radius: 100px !important;
    position: relative;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)!important;
}

@keyframes border_lightup {
    0% {
        border-color: transparent;
    }

    25% {
        border-top-color: var(--acent-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    50% {
        border-top-color: var(--acent-color);
        border-right-color: var(--acent-color);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    75% {
        border-top-color: var(--acent-color);
        border-right-color: var(--acent-color);
        border-bottom-color: var(--acent-color);
        border-left-color: transparent;
    }

    100% {
        border-top-color: var(--acent-color);
        border-right-color: var(--acent-color);
        border-bottom-color: var(--acent-color);
        border-left-color: var(--acent-color);
    }
}

.game_button button::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 4px solid transparent;
    border-radius: inherit;
    box-sizing: border-box;
    pointer-events: none;
}

.game_button button:hover::before {
    animation: border_lightup 0.1s forwards;
}

.game_button button:hover {
    background-color: var(--container-background-hover) !important;
}


.game_button button:active {
    border-color: var(--acent-color) !important;
    background-color: var(--container-background)!important;
}

.game_button button:active::before {
    animation: border_lightup 0.1s forwards;
}

.game_button img {
    width: 100px;
    height: 100px;
    border-radius: 80px;
    align-self: center;
    color: var(--text-color);
    box-shadow: var(--img-box-shadow);
}

.info_grid .game_button img {
    width: 100px;
    height: 100px;
}

.game_button span {
    flex-grow: 1;
    text-align: center;
    color: var(--text-color);
    font-size: 1.3em;
    margin-right: 100px;
    padding-inline: 10px;
}

.clickable {
    cursor: pointer;
}

.clickable:active {
    transform: translateY(2px);
    box-shadow: var(--active-box-shadow);
}
 

.delimiter{
    height: 80%;
    width: 4px;
    margin: 0 10px;
    transition: all 0.2s ease;
}


.info_grid,
.delimiter {
    position: sticky;
    top: calc(50% - 250px);
    height: 400px;
}


.info_grid .game_button span {
    margin-right: 0;
}

@media (max-width: 1000px) {
    .info_grid,
    .delimiter {
        position: relative;
        height: auto;
    }

    .info_grid {
        max-width: 100%;
    }

    .button_grid {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 90%;
        /* max-width: 550px; */
        min-width: 30%;
        padding-inline: 0px;
    }

    .delimiter {
        transform: rotate(90deg);
        --lenght: 80vw;
        height: var(--lenght);
        width: 3px;
        margin: calc(var(--lenght)/-2 + 8px) 0;
    }

    .game_button {
        width: 100%;
        max-width: none;
    }

    #game_grid {
        border-radius: 71px;
    }

    .game_button img {
        width: 75px;
        height: 75px;
    }

    .info_grid .game_button img {
        width: 100px;
        height: 100px;
    }

}
@media (max-width: 600px) {
    .info_grid,
    .game_grid {
        gap: 15px;
    }

    .game_grid .game_button span {
        font-size: 1em;
    }

    .delimiter {
        --lenght: 70vw;
    }

}