.button-grid {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 5px 10px;
    width:fit-content;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--acent-color);
    color: var(--text-color);
    border: none;
    border-radius: 15px;
}

button:hover {
    background-color: var(--acent-hover-color);
}

form {
    display: inline-block;
}

.clickable {
    cursor: pointer;
}

.clickable:active {
    transform: translateY(2px);
    box-shadow: var(--active-box-shadow);
}
