h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.leaderboard {
    width: 90%;
    margin: 20px;
    padding: 15px;
    border-collapse: collapse;
    box-shadow: var(--box-shadow);
    background-color: var(--container-background);
    border-radius: 15px;
    overflow: scroll;
}

table {
    overflow: scroll;
    width: 100%;
    border-spacing: 0px;
    user-select: text!important;
}

thead {
    overflow: scroll;
    background-color: var(--header-background);
    color: var(--text-color);
}

thead *:hover {
    background-color: var(--header-background)!important;
}

thead tr th {
    font-size: 1.2em;
}

tbody {
    overflow: scroll;
    background-color: var(--stakable-container-background);
    color: var(--text-color);
    font-size: 1em;
}

tr:nth-child(even) {
    background-color: var(--stakable-container-background);
}

tr:hover {
    background-color: var(--container-background-hover);
}



th, td {
    width:fit-content;
    /* text-wrap:nowrap; */
    text-align: center;
    padding: 5px 1vw;
    user-select: text!important;
    border-right: 1px solid var(--container-background-hover);
}


th:last-child,
td:last-child {
    border-inline: none;
}

th {
    font-weight: 400;
    border-bottom: 2px solid var(--acent-color);
}

td {
    border-bottom: 1px solid var(--container-border-hover);
}

tr:last-child td {
    border-bottom: none;
}

@media (max-width: 1200px) {
    .leaderboard {
        font-size: 0.8em;
    }
}


@media (max-width: 900px) {
    h2 {
        font-size: 2em;
    }

    .leaderboard {
        width: 98%;
        font-size: 0.7em;
    }

    tbody {
        font-size: 1.4em;
    }
}

@media (max-width: 720px) {
    .leaderboard {
        width: 98%;
        font-size: 0.5em;
        padding: 5px;
    }


}