h1 {
    text-align: center;
    color: var(--text-color);
}

.signup-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin: 50px;
    background-color: var(--container-background);
    color: var(--text-color);
    border: 1px solid var(--container-border);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.signup-form *:not(button) {
    user-select: text;
}

.signup-form p {
    display: flex;
    color: var(--text-color);
    width: 95%;
    font-weight: 300;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: flex-start;
}

.signup-form ul {
    padding: 0;
    margin: 0;
    width:95%;
    list-style-type:none;
}

.signup-form li,
.helptext {
    margin-bottom: 5px;
    font-size: 0.8em;
    font-weight: 300;
}

.signup-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    color: var(--text-color);
    background-color: var(--stakable-container-background);
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--container-border);
    border-radius: 10px;
    box-sizing: border-box;
}

.signup-form button {
    width: 75%;
    padding: 10px;
    background-color: var(--acent-color);
    border: none;
    color: var(--inverted-text-color);
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.signup-form button:hover {
    background-color: var(--acent-hover-color);
}
.signup-form button:active {
    transform: translateY(2px);
    background-color: var(--acent-active-color);
    box-shadow: var(--active-box-shadow);
}

.messages {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 15px;
    color: var(--inverted-text-color);
    background-color: var(--acent-color);
    text-align: center;
}

.messages li {
    list-style-type: none;
}

.messages .error {
    background-color: var(--error-color);
}

button:not(#theme-switcher) {
    width: auto;
    padding: 10px 20px;
    color: var(--inverted-text-color);
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    text-align: center;
}
