@font-face {
    font-display: swap;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 500;
    src: url(fonts/GothamSSm-Medium_Web.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/GothamSSm-Book_Web.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/GothamSSm-Light_Web.woff2) format("woff2")
}

.dark-theme {
    --background-color: oklch(15% 0.004 308.21);
    --text-color: oklch(99% 0 0);
    --text-secondary-color: oklch(89% 0 0);
    --inverted-text-color: oklch(20% 0 0);
    --acent-color: oklch(50% 0.162 144);
    --acent-hover-color: oklch(55% 0.152 144);
    --secondary-color: oklch(55% 0.169 25);
    --container-background: oklch(13.8% 0.031 281.56);
    --container-text-color: oklch(99.8% 0.031 281.56);
    --container-border: oklch(40% 0 0);
    --box-shadow: none;
    --hover-box-shadow: none;
    --active-box-shadow: none;
}

.light-theme {
    --background-color: oklch(95% 0.002 325.59);
    --text-color: oklch(15% 0 0);
    --text-secondary-color: oklch(25% 0 0);
    --inverted-text-color: oklch(90% 0 0);
    --acent-color: oklch(75% 0.162 144);
    --acent-hover-color: oklch(80% 0.152 144);
    --secondary-color: oklch(62% 0.169 25);
    --container-background: oklch(13.8% 0.031 281.56);
    --container-text-color: oklch(90.8% 0.031 281.56);
    --container-border: oklch(40% 0 0);
    --box-shadow: 0px 5px 10px oklch(13% 0.004 308.21 / 20%);
    --hover-box-shadow: 0px 10px 20px oklch(13% 0.004 308.21 / 20%);
    --active-box-shadow: 0px 0px 0px oklch(13% 0.004 308.21 / 10%);
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.5s cubic-bezier(.19, 1, .22, 1);
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    user-select: none;
}


body {
    font-family: Gotham SSm, Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

h1 {
    color: var(--text-color);
    margin-top: 20px;
}

form {
    margin: 20px 0;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
}

.image-grid {
    display: flex;
    padding-inline: 10vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-background);
    color: var(--container-text-color);
    margin-top: 20px;
    max-width: 150px;
    height: fit-content;
    border: 1px solid var(--container-border);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.image-container:hover {
    transform: translateY(-5px);
    scale: 1.02;
    box-shadow: var(--hover-box-shadow);
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    display: block;
}

.image-container span {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: var(--container-background);
    user-select: text;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--acent-color);
    color: var(--text-color);
    border: none;
    border-radius: 15px;
}

button:hover {
    background-color: var(--acent-hover-color);
}

p {
    font-size: 18px;
    color: var(--secondary-color);
}

.clickable {
    cursor: pointer;
}
.clickable:active {
    transform: translateY(2px);
    box-shadow: var(--active-box-shadow);
}

@media (max-width: 1000px) {
   .image-container {
        max-width: 120px;
    }
}

@media (max-width: 1000px) {
    .image-grid {
        padding-inline: 5vw;
    }
}